<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript">
          var host = 'aceew.me';
          if (
            host === window.location.host &&
            window.location.protocol !== 'https:'
          ) {
            window.location.protocol = 'https:';
          }
        </script>
        <meta charset="utf-8">
        <title>Aaron Williams</title>
        <link rel="canonical" href="https://aceew.me" />
        <link rel="stylesheet" href="css/skeleton.css" />
        <link rel="stylesheet" href="css/custom.css" />
        <link rel="stylesheet" href="css/font-awesome.min.css" />
    </head>
    <body>
        <div id='app'>
            <% if (typeof html !== 'undefined') { %>
                <%- html %>
            <% } %>
        </div>
    </body>
</html>
