<!DOCTYPE html>
<html>
    <head>
        <meta charSet='utf-8' />
        <meta httpEquiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <meta name='apple-mobile-web-app-capable' content='yes' />

        <script type="text/javascript">
          var host = 'aceew.me';
          if (
            host === window.location.host &&
            window.location.protocol !== 'https:'
          ) {
            window.location.protocol = 'https:';
          }
        </script>
        <title>Aaron Williams</title>
        <link rel="canonical" href="https://aceew.me" />
        <link rel="stylesheet" href="css/skeleton.css" />
        <link rel="stylesheet" href="css/custom.css" />
        <link rel="stylesheet" href="css/font-awesome.min.css" />
    </head>
    <body>
        <div id='app'>
            <% if (typeof html !== 'undefined') { %>
                <%- html %>
            <% } %>
        </div>
    </body>
</html>
